<p>cart works!</p>


<div *ngIf="user" class="container">
    
    <div class="row" style="Background-color: white; padding: 25px; border-radius: 15px;">
    
        <div *ngFor="let c of cart" class=""></div>
        <div class="col-4" st>
            <img id="allView" src="../../assets/images/{{c}}.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <div class="allViewDesc">
                <h4>{{products[1].title}}</h4>
                <hr>

                <p>${{products[1].price}}</p>
                <p>⭐️: {{products[1].rating}} Ratings</p>
                <p> {{products[1].description}}</p>
            </div>
        </div>
        <div class="col-4">
            <div class="allViewDesc" style="border-style: solid; border-width: 10px;margin-top: 60px;">
           <button class="btn btn-warning" > 🛒 Add to Cart</button>
           <p style="padding-top: 20px;">🚚: FREE Shipping on orders over $25</p>
            </div>
        </div>
    </div>

    </div>
<hr>
</div>