<div *ngIf="inform" class="container" style="padding: 30px; ">
    <div class="row" class="singIn">
        <br>
        <h2>Sing in </h2><br>
        
            
            Email: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="loginEmail" required><br><br>
            Pasword:<input type="password" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="loginPass" required><br><br>
            Admin: <input type="radio" id="yes" name="admin" value="yes" [(ngModel)]="loginAdmin"> <label style="padding-left:5px ; padding-right: 12px;">Yes</label>
            <input type="radio" id="no" name="admin" value="no" [(ngModel)]="loginAdmin">
            <label style="padding-left:5px ; padding-right: 12px;" >No</label>
            <button (click)="singIn()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Sing in</button>
        <p>{{loginAdmin}}--{{loginEmail}}--{{loginPass}}</p>
        <br>
        <br>
        <div>
            Don't Have An Account? <a href=""> Sing Up</a>
        </div>
    </div>
</div>
<hr>

    
        <div *ngIf="userPortal" class="container formo" >
            <h2 style="padding-top: 10px;">User Portal </h2>
            <h2 style="padding-top: 10px;">Welcome Back {{currentUser.fname}}! Let The Shopping Begin! </h2>
        </div>
    


<div *ngIf="adminPortal" class="container formo" >
    <h2 style="padding-top: 10px;">Admin Portal </h2>
    <h2 style="padding-top: 10px;">Welcome Back {{currentUser.fname}}! </h2>
    <hr>
    <div *ngIf="!selectionButtons"class="btn-group" role="group" aria-label="Basic example">
        <button (click)="select('User')" type="button" class="btn btn-secondary" style="padding-left: 60px;padding-right: 60px;">Edit Users</button>
        <button (click)="select('Admin')" type="button" class="btn btn-secondary"style="padding-left: 60px;padding-right: 60px;">Edit Admins</button>
        <button (click)="select('Product')" type="button" class="btn btn-secondary"style="padding-left: 60px;padding-right: 60px;">Edit Product</button>
      </div>
      <div *ngIf="selectionButtons" class="btn-group" role="group" aria-label="Basic example">
        <button (click)="selecto('Add')" type="button" class="btn btn-secondary" style="padding-left: 60px;padding-right: 60px;">Add {{inpd}}</button>
        <button (click)="selecto('Edit')" type="button" class="btn btn-secondary"style="padding-left: 60px;padding-right: 60px;">Edit {{inpd}}</button>
        <button (click)="selecto('Delete')" type="button" class="btn btn-secondary"style="padding-left: 60px;padding-right: 60px;">Delete {{inpd}}</button>
    </div>
      
       <div *ngIf="inp=='UserAdd'||inp=='AdminAdd'"  aria-label="Basic example">
       <br> <br>
       <h2 style="text-align: center;">Add an {{inpd}}:</h2>
       <hr>

                First Name: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newF" required><br><br>
                Last Name:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newL" required><br><br>
                Email: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newE" required><br><br>
                Pasword:<input type="password" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newP" required><br><br>
                Re-Enter Pasword:<input type="password" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newPt" required><br><br>
                <button (click)="register()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Register</button>
            <br>
            <br>
      </div>
      
      <div *ngIf="inp=='UserEdit'||inp=='AdminEdit'" aria-label="Basic example">
        <br> <br>
       <h2 style="text-align: center;">Edit an {{inpd}}:</h2>
       <hr>
                Enter User ID:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="findID" required><br><br>
                <button (click)="find()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Find</button>
         <div *ngIf="foundH"> <br> <br>
                First Name: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="updUser['fname']" required><br><br>
                Last Name:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="updUser.lname" required><br><br>
                Email: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="updUser.email" required><br><br>
                Pasword:<input type="password" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="updUser.pasword" required><br><br>
                cart:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="updUser.cart" required><br><br>
                <button (click)="updateUs()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Update</button>
            <br>
            <br> 
        </div>
      </div>

      <div *ngIf="inp=='UserDelete'||inp=='AdminDelete'" aria-label="Basic example">
        <br> <br>
       <h2 style="text-align: center;">Delete an {{inpd}}:</h2>
       <hr>
                Enter User ID:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="findID" required><br><br>
                <button (click)="findo()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Find</button>
         <div *ngIf="foundD"> <br> <br>
                 <p>First Name: {{updUser['fname']}} </p>
                 <p>Last Name: {{updUser.lname}}</p>
                 <p>Email: {{updUser.email}}</p>
                <p>Pasword: {{updUser.pasword}}</p>
                <p>cart: {{updUser.cart}}</p>
                <button (click)="deleteR()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Delete</button>
            <br>
            <br> 
        </div>
      </div>

      <!--NUEVO-->
      <div *ngIf="inp=='ProductAdd'"  aria-label="Basic example">
        <br> <br>
        <h2 style="text-align: center;">Add an {{inpd}}:</h2>
        <hr>
 
                 Title: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="Ptitle" required><br><br>
                 Price:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="Pprice" required><br><br>
                 Size: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="Psize" required><br><br>
                 Description:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="Pdescription" required><br><br>
                 Rating:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="Prating" required><br><br>
                 Images:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="Pimages" required><br><br>
                 <button (click)="postP()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Post</button>
             <br>
             <br>
       </div>

      <div *ngIf="inp=='ProductEdit'" aria-label="Basic example">
        <br> <br>
       <h2 style="text-align: center;">Edit a {{inpd}}:</h2>
       <hr>
                Enter Product ID:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="findID" required><br><br>
                <button (click)="findP()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Find </button>
         <div *ngIf="foundH"> <br> <br>
                Title: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newProd.title" required><br><br>
                Price:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newProd.price" required><br><br>
                Size: <input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newProd.size" required><br><br>
                Description:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newProd.description" required><br><br>
                Rating:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newProd.rating" required><br><br>
                Images:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="newProd.images" required><br><br>
                <button (click)="updatePr()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Update </button>
            <br>
            <br> 
        </div>
      </div>

      <div *ngIf="inp=='ProductDelete'" aria-label="Basic example">
        <br> <br>
       <h2 style="text-align: center;">Delete a {{inpd}}:</h2>
       <hr>
                Enter Product ID:<input type="text" class="border-top-0 border-left-0 border-right-0" [(ngModel)]="findID" required><br><br>
                <button (click)="findoP()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Find </button>
         <div *ngIf="foundD"> <br> <br>
                 <p>Title: {{newProd.title}} </p>
                 <p>Price: {{newProd.price}}</p>
                 <p>Size: {{newProd.size}}</p>
                <p>Description: {{newProd.description}}</p>
                <p>Rating: {{newProd.rating}}</p>
                <p>Images: {{newProd.images}}</p>
                <button (click)="deleteRP()" class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Delete </button>
            <br>
            <br> 
        </div>
      </div>



</div>