<div class="container" style="padding: 30px; ">
    <div class="row" class="singIn">
        <br>
        <form action="">
            <h2>Sing in </h2><br>
            Email: <input type="text" class="border-top-0 border-left-0 border-right-0" ><br><br>
            Pasword:<input type="text" class="border-top-0 border-left-0 border-right-0"  ><br><br>
            Admin: <input type="radio" id="yes" name="admin" value="yes"> <label style="padding-left:5px ; padding-right: 12px;">Yes</label>
            <input type="radio" id="no" name="admin" value="no">
            <label style="padding-left:5px ; padding-right: 12px;" >No</label>
            <button class="btn btn-success" style="float: right; margin: 5%;padding-right: 37%;padding-left: 38%;" > Sing in</button>
        
        </form>
        <br>
        <br>
        <div>
            Don't Have An Account? <a href=""> Sing Up</a>
        </div>


    </div>


</div>
