<body id="main">
  
  <br>
      <br> <div id ="titulo2">
      <h1 class ="titulo">The Company<sup id="hsma">TM</sup> Online Store</h1>
      <h3 >The one stop site for all The Company<sup id = "hsmall">TM</sup> Products</h3>
      </div>
      <br>
      <nav class="navbarro">
          <a id="one" class ="pestanas active" (click)="changeActive('one')" routerLink='shop'>🛍 Shop</a>   
          <a id="two" class ="pestanas" (click)="changeActive('two')" routerLink='in' >👤 Sing In</a>  
          <a id="three" class ="pestanas" (click)="changeActive('three')" routerLink='cart'>🛒 Cart</a>  
      </nav>
  
  
   <router-outlet></router-outlet>   
  <!--<hr> 
     <div class="jumbotron">
      <p>{{activeHom}}</p>
     </div>
  -->
  <div class="row" id="four"> 
      <h1 class="centeredTitle"> The Company<sup id="hsma">TM</sup> All Rights Reserved</h1>
   </div> 
  </body>